<%- include('./fragment/header.ejs') %>
    <main>
        <h2><th><%= __('main-page.content') %></th></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque consequuntur tempore sint ipsa! Vitae eligendi provident rem eius asperiores vel, consequuntur dicta expedita, autem adipisci, quis quisquam esse. Accusamus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum natus, similique necessitatibus iusto nemo exercitationem inventore ea porro in aliquam perspiciatis repellendus, fugiat vitae autem pariatur unde alias nam iste!    </p>
    </main>
<%- include('./fragment/footer.ejs') %> 