<%- include('../../fragment/header.ejs') %>
    <main>
        <h2>Cars</h2>
        <p>No records to display.</p>
    <p><a href="../car/form.html" class="button-add">Add new car</a></p>
    </main>
    <%- include('../../fragment/footer.ejs') %> 